@font-face {
  font-family: 'rewind-font';
  src: url("fonts/analogue86blackoblique.ttf") format('truetype');
}

@font-face {
  font-family: 'figcaption-font';
  src: url("fonts/Roboto-Italic.ttf") format('truetype');
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

section {
  display: flex;
  padding: 1rem;
}

h1, h2, h3, h4 {
  font-family: 'Racing Sans One', cursive;
  color: #39505E;
  letter-spacing: 1px;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  font-size: 0.9rem;
}

.hero-banner {
  height: 75vh;
}

/*navigation
nav - display set to flex to make it easier for alignment
.mobile-icon - container for the3 images, acts as containers to links
- set width of the icons
*/

#main-nav {
  background-color: white;
  position: absolute;
  width: 100%;
  display: flex;
}

#main-nav a {
  padding: 1em;
}

/*#main-nav-link-container {
  position: absolute;
  width: 100%;
  display: flex;
  padding: 1em;
  background-color: white;
}*/

.nav-link {
  color: #FD9264;
  text-decoration: none;
}

.mobile-icon-link {
  width: 0.8em;
}

.mobile-icon {
  width: 100%;
}

#home-link-icon {
  color: #304D5D;
  font-family: 'rewind-font';
  margin: auto;
  margin-top: 0.3em;
}

/*home page*/

#about-intro {
  background-color: #39505E;
}

#about-intro-content {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

#about-header {
  color: #F69261;
}

#about-para {
  color: white;
}

/*featured listing*/

.product-listing {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 1em 0 1em 0;
}

.product-listing img {
  box-shadow: 5px 5px #F69261;
  margin-bottom: 1em;
  width: 100%;
}

.genre-category {
  font-family: 'figcaption-font', sans-serif;
  align-self: flex-end;
  font-size: 0.8rem;
  color: #7A7A7A;
}

#featured-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-listing-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*footer*/

#top-shortcut {
  background-color: #39505E;
}

#top-shortcut-link {
  color: #F69261;
  margin: auto;
  text-decoration: none;
}
